@import './styles/animations.css';
@import "tailwindcss";

/* :root {
  --color-primary: #9261B2;
  --color-secondary: #7C3AAD;
  --color-background: #F3F4F6;
  --color-bg-rosado: #F8F6FA;
} */

/* body {
  background: var(--color-background);
} */
